<!DOCTYPE html>
<html>
  <head>
    <title>Awklog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>



  </head>

  <body>
    <div style="position: sticky; top: 0; left: 0; z-index: 999; width: 100%; -webkit-backdrop-filter: saturate(180%) blur(5px); backdrop-filter: saturate(180%) blur(5px); background-color: rgba(255, 255, 255, 0.8); padding: 15px 0;">
      <div style="display: inline-block; padding-left: 10px;">
        <span style="margin: -24px 0; vertical-align: top;display: inline-block;"><a href="/"><img src="/img/log.svg" style="max-height: 5rem;"></a></span>
        <span style=" vertical-align: top;display: inline-block; font-size: 26px; font-weight: bold;">AwkLog</span>
      </div>
      <div style="float: right;">
        <a href="/">Dashboard</a>
         <% if current_user.is_admin? %>
         | <a href="/sidekiq/queues?poll=true">Task Workers</a>
         <% end %>
         | <a href="https://help.awklog.com/docs/installation">Documentation</a>
         | Welcome <%= current_user.fname %>
          <%= link_to destroy_user_session_path, title: 'Log out', style: 'display: inline-block;' do %>
            <i style="color: #ccc" class="fa fa fa-sign-out-alt"></i>
          <% end %>
      </div>
    </div>


    <%= yield %>
  </body>
</html>



<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style type="text/css">

body {
  font-family: 'Lato', serif;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #23272A;
    filter: invert(85%) !important;
  }
  a:-webkit-any-link, a:link, a:visited, a:hover, a:active {
    /*filter: invert(80%) !important;*/
  }
  div, span, li, img, hr {
    /*filter: invert(90%) !important;*/
  }


</style>
